<launch>
  <arg name="namespace"/>
  <node pkg="turtlebot3_movement_manager" type="turtlebot_behaviour" name="executable" output="screen" args="$(arg namespace)"/>

  <include file="$(find turtlebot3_gazebo_custom)/launch/multi_turtlebot3_namespace_without_spawn.launch">
    <arg name="namespace" value="$(arg namespace)" />
  </include>

  <include file="$(find turtlebot3_navigation_custom)/launch/multi_turtlebot3_navigation_namespace.launch">
    <arg name="namespace" value="$(arg namespace)" />
  </include>
</launch>